<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ site_title }}</title>
    <link rel="shortcut icon" href="https://cms.abpx.kz/{{ site_favicon.path }}" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link rel="stylesheet" href="{{ base_url }}assets/css/plugins.css" />
    <link rel="stylesheet" href="{{ base_url }}assets/css/style.css?v=8" />

    {{ site_scripts_in_head|raw }}
  
  </head>
  <body>
    {{ site_scripts_in_body|raw }}

    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    {{ include('widgets/_header.twig') }}

    {{ include('widgets/slider.twig') }}

    {{ include('widgets/about_project.twig') }}

    {{ include('widgets/location.twig') }}

    {{ include('widgets/advantages.twig') }}

    {{ include('widgets/appartaments.twig') }}

    {{ include('widgets/construct.twig') }}

    {{ include('widgets/building_steps.twig') }}

    {{ include('widgets/about_developer.twig') }}

    {{ include('widgets/contacts.twig') }}

    {{ include('widgets/footer.twig') }}

    {{ include('widgets/modal.twig') }}

  </body>

  <script>

    var translater = new Object({
      count_rooms: "{{ translate['count_rooms'] }}",
      floor: "{{ translate['floor'] }}",
      square: "{{ translate['square'] }}",
      download_plan: "{{ translate['download_plan'] }}",
      leave_a_request: "{{ translate['leave_a_request'] }}",
      no_valid_number: "{{ translate['no_valid_number'] }}",
      multiplier: "{{ translate['multiplier'] }}",
      multiplierX1: "{{ translate['multiplierX1'] }}"
    });

  </script>

  <!-- jQuery -->
  <script src="{{ base_url }}assets/js/jquery-3.6.0.min.js"></script>
  <script src="{{ base_url }}assets/js/jquery-migrate-3.0.0.min.js"></script>
  <script src="{{ base_url }}assets/js/modernizr-2.6.2.min.js"></script>
  <script src="{{ base_url }}assets/js/imagesloaded.pkgd.min.js"></script>
  <script src="{{ base_url }}assets/js/jquery.isotope.v3.0.2.js"></script>
  <script src="{{ base_url }}assets/js/pace.js"></script>
  <script src="{{ base_url }}assets/js/popper.min.js"></script>
  <script src="{{ base_url }}assets/js/bootstrap.min.js"></script>
  <script src="{{ base_url }}assets/js/scrollIt.min.js"></script>
  <script src="{{ base_url }}assets/js/jquery.waypoints.min.js"></script>
  <script src="{{ base_url }}assets/js/owl.carousel.min.js"></script>
  <script src="{{ base_url }}assets/js/jquery.stellar.min.js"></script>
  <script src="{{ base_url }}assets/js/jquery.magnific-popup.js"></script>
  <script src="{{ base_url }}assets/js/YouTubePopUp.js"></script>
  <script src="{{ base_url }}assets/js/select2.js"></script>
  <script src="{{ base_url }}assets/js/datepicker.js"></script>
  <script src="{{ base_url }}assets/js/smooth-scroll.min.js"></script>
  <script src="{{ base_url }}assets/js/custom.js"></script>
  <script src="{{ base_url }}assets/js/main.js"></script>

  {{ site_scripts_in_footer|raw }}

</html>
